/* // make the headerbox in the center of the screen
< */

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color:#f0f0f0;
    display:flex;
    justify-content:center;
    align-items:center; 
    height: 100px; 
    text-align:center;
    margin:0 auto;

}

.header-box {
    display: inline-block; 
    padding: 10px 20px; 
    margin:auto;
    
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    color: #333; 
    font-size: 18px; 
    font-weight: bold;
    text-align: center;
  
}


.input {
    margin: 20px 0;
    text-align: center;
}
input[type="number"] ,.select{
    width: 100%;
    max-width: 200px; 
    margin: 0 auto; 
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px #ddd;
    font-size: 20px; 
    margin-bottom: 10px; 
}


.select {
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px #ddd;
    font-size: 16px;
    margin-bottom: 10px; 
}


 .calculate-box {

    text-align: center;
    
 }

.button {
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
.text{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;;
}